<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<strong>Wish_items</strong> <%= @user.wish_items.count %> <br/>
<ul>
  <li><%= link_to 'WishItems Lists',  user_wish_items_path(@user.id) %></li>
  <li><%= link_to 'New Wish Items', new_user_wish_item_path(@user.id) %></li>
</ul>
