<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wish_item.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @wish_item.url %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @wish_item.mark %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @wish_item.flag %>
</p>

<p>
  <strong>User:</strong>
  <%= @wish_item.user.name %>
</p>

<%= link_to 'Edit', edit_wish_item_path(@wish_item) %> |
<%= link_to 'Back', wish_items_path %>
