<p id="notice"><%= notice %></p>
<div id="">
  <div class="item">
    <p>
      <strong><%= @wish_item.user.name %></strong>的心愿单
    </p>
  </div>
  <div class="item">
    <p>
      <strong>主题:</strong>
      <%= @wish_item.title %>
    </p>
  </div>
  <div class="item">
    <p>
      <strong>链接:</strong>
      <a href=<%= @wish_item.url %>><%= @wish_item.url %></a>
   </p>
  </div>
  <div class="item">
    <p>
      <strong>心愿等级:</strong>
      <%= @wish_item.mark %>
    </p>
  </div>
  <div class="item">
    <p>
      <strong>是否实现:</strong>
      <% if @wish_item.flag %>
        已实现
      <% else %>
        未实现
      <% end %>
    </p>
  </div>
</div>

